certifi==2020.6.20
chardet==3.0.4
click==7.1.2
Flask==1.1.2
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.2
tensorflow==2.5.0 # TensorFlow is an open source machine learning framework for everyone.
numpy==1.18.2 # NumPy is the fundamental package for array computing with Python.
opencv-python==4.2.0.34 # Wrapper package for OpenCV python bindings.
MarkupSafe==1.1.1
requests==2.24.0
threadpoolctl==2.1.0
Werkzeug==1.0.1
wincertstore==0.2
gunicorn==19.9.0
